[user]
	name = Tom Chathoth Abraham
	email = exterminator@apple.com
[core]
  excludesfile = ~/.gitignore.global
  attributesfile = ~/.gitattributes
[push]
  default = tracking
[diff "sqlite"]
  textconv  = ~/sqlite2txt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[gpg]
	format = x509
[commit]
	gpgsign = true
[gpg "x509"]
	program = /usr/local/bin/ac-sign
