*
!.gitignore
!.gitconfig
!.bash_profile
!.bashrc
!.cshrc
!.zshrc
!.zprofile
!.login
!.git-completion.bash
!.git.bash
!.gitignore.global
!.screenrc
!.vimrc
!.ssh/config
!.gitattributes
!sqlite2txt
!.config/com.googlecode.iterm2.plist
