*
!.gitignore
!.gitconfig
!.bash_profile
!.bashrc
!.cshrc
!.zshrc
!.zprofile
!.login
!.git-completion.bash
!.git.bash
!.gitignore.global
!.screenrc
!.vimrc
!.config
!.config/fish
!.config/fish/functions
!.config/fish/functions/*
!.config/fish/config.fish
!.config/com.googlecode.iterm2.plist
!.ssh/config
!.gitattributes
!sqlite2txt
