*
!.gitignore
!.gitconfig
!.bash_profile
!.bashrc
!.cshrc
!.login
!.git-completion.bash
!.git.bash
!.gitignore.global
!.screenrc
!.vimrc
!.config
!.config/fish
!.config/fish/functions
!.config/fish/functions/*
!.config/fish/config.fish
!.config/fish/yelp.fish
!.ssh/config
